@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    display: inline-flex;
    padding: 10px 24px;
    gap: 8px;
    color: #fff;
    background: #E02C6D;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
}

header {
    padding: 70px 100px;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav * {
    color: #3A3A3A;
}

nav .nav-tile {
    font-size: 1.5rem;
    font-weight: 700;
}

nav .navber {
    display: flex;
    /* gap: 20px; */
}

nav .navber li {
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}

.navber li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.banner {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-content {
    padding-right: 210px;
}

.banner .banner-title {
    font-size: 3.3rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner .banner-text {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600px;
    /* max-width: 500px; */
}

.banner .banner-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 400px;
}

.banner .banner-img img {
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

.sponsores .sponsre-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.product-container {
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}

.product-container .product-heading{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.product-container .product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}
.product-container .product-content .product-card{
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.product-container .product-content .product-card img:nth-child(1){
width: 100%;
}
.product-container .product-content .product-card .product-name{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
}
.product-container .product-content .product-card .product-price{
    font-size: 1.5rem;
    font-weight: 400;
}
.product-container .product-content .product-card .product-details{
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 0.252px;
    color: #787885;
}
.more .see-more{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    padding: 10px;
    font-weight: 700;
}
.featured{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    gap: 100px;
    align-items: center;
}
.featured .featured-img{
    width: 50%;
}
.featured .featured-img img{
    width: 100%;
}
.featured .featured-content{
    max-width: 50%
}
.featured .featured-content .featured-title{
    color: #0A0826;
    font-size: 2.3rem;
    font-weight: 700;
}
.featured .featured-content .featured-text{
    color: #6C6C6C;
    font-weight: 700;
    margin-top: 20px;
    max-width: 80%
}
.featured .featured-content .btn-primary{
    border-radius: 3px;
}
footer{
    background: #0A0826;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.footer-content .footer-heading{
    color: #FFF;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 7px;
}
.footer-content .footer-text{
    color: #D9DBE1;
    font-size: .875rem;
    font-weight: 700;
}
.footer-content .footer-icons {
    margin-top: 10px;
}
.footer-content .footer-icons a{
    color: #ffffffc2;
    padding: 3px;
}



@media screen and (min-width: 576.1px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .banner,
    .featured {
        flex-direction: column;
    }
    .banner .banner-content{
        text-align: center;
        padding: 50px;
        order: 1;
    }
    .banner .banner-title{
        font-size: 2.6rem;
    }
    .banner .banner-tex{
        text-align: center;
    }

    .sponsores .sponsre-img {
        flex-wrap: wrap;
    }
    .product-container .product-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured .featured-content .featured-text{
        max-width: 100%
    }
    .featured .featured-content{
        max-width: 100%;
        text-align: center;
    }
    .featured .featured-img{
        width: 100%;
        order: 1;
    }
}
@media screen and (max-width: 576px) {

    header,
    .banner .banner-content {
        padding: 20px;
    }
    .banner .banner-content{
        text-align: center;
        order: 1;
    }
    .banner .banner-title{
        font-size: 2.5rem;
    }
    .banner .banner-tex{
        text-align: center;
        max-width: 100%;
    }

    nav,
    .banner,
    .featured {
        flex-direction: column;
    }

    nav .navber li {
        margin-right: 10px;
    }

    .sponsores .sponsre-img {
        flex-wrap: wrap;
    }
    .product-container .product-content{
        grid-template-columns: 1fr;
    }
    .featured .featured-img{
        width: 100%;
        order: 1;
    }
    .featured .featured-content{
        max-width: 100%;
        text-align: center;
    }
    .featured .featured-content .featured-text{
        max-width: 100%
    }
    
}